.sale{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #febb00;
    font-size: 14px;
    color: white;
    border-radius: 20px;
}
.component{
    position: relative;

}